<div name="navigation-container">

  <button mat-icon-button
          (click)="sidenav.toggle()"
          name="navigation-toggle-button">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>

  <button mat-icon-button
          (click)="navigateToParkingFacility()"
          class="map-navigation"
          name="locate-user-button">
    <mat-icon svgIcon="navigate-icon"></mat-icon>
  </button>
</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <button mat-button (click)="router.navigate(['home'])">Home</button>
    <button mat-button (click)="router.navigate(['city'])">Back</button>
  </mat-sidenav>
  <h2>Parking Elements</h2>
  <div class="parking-elements">
    <svg id="spotsView" width="auto" height="auto" viewBox="0 0 50 25">
      <rect *ngFor="let spot of spots"
            attr.x="{{spot.lan}}"
            attr.y="{{spot.lon}}"
            attr.width="{{spot.width}}"
            attr.height="{{spot.height}}"
            attr.fill="{{spot.color}}"
            attr.transform="{{spot.orientation}}"/>
    </svg>
  </div>
</mat-sidenav-container>




