<div>
  <!--<div align="left">-->
  <button (click)="router.navigate(['home'])" type="button">home</button>
  <button (click)="emitZoomOutEvent()" type="button">back</button>
  <!--<button onclick="location.href='login'" type="button">-->
    <!--Log in</button>-->
  <!--<button onclick="location.href='help'" type="button">-->
    <!--Help</button>-->
  <!--</div>-->
  <!--<div align="right">-->
  <!--<input type="text" name="search" placeholder="Search...">-->
  <!--<button onclick="location.href='search'" type="button">-->
    <!--Go</button>-->
  <!--</div>-->
  <!--<div class="line"></div>-->
</div>
