/** Angular Material Theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/** some leaflet styling */
.rectangle-label {
  background: transparent;
  border: none;
  font-size: 24px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

/* styling select box on home screen */
.mat-select-content {
  background-color: wheat !important;
}
.mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
  background: rgba(0,0,0,.8);
  color: wheat;
}
